@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'social';
  src: url("fonts/social.eot?84141987");
  src: url("fonts/social.eot?84141987#iefix") format("embedded-opentype"), url("fonts/social.woff?84141987") format("woff"), url("fonts/social.ttf?84141987") format("truetype"), url("fonts/social.svg?84141987#social") format("svg"); }

h1, ol, ul, dd, dt, dl, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.fancybox-slide--iframe .fancybox-content {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  max-height: 80%;
  width: 1200px;
  height: 900px; }

.hidden {
  display: none; }

body {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), color-stop(2em, rgba(255, 255, 255, 0.9)), color-stop(36em, rgba(255, 255, 255, 0.9)), color-stop(45em, rgba(255, 255, 255, 0.8))), url("images/seamless_paper_texture.png");
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9) 2em, rgba(255, 255, 255, 0.9) 36em, rgba(255, 255, 255, 0.8) 45em), url("images/seamless_paper_texture.png");
  color: #4b5866;
  word-wrap: break-word;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  font-family: "Libre Caslon Text", serif;
  -webkit-font-smoothing: antialiased;
  font-display: optional;
  text-rendering: optimizeLegibility;
  font-variant-caps: normal; }
  @media only screen and (max-width: 380px) {
    body {
      color: black;
      font-size: 14px; } }
  @media only screen and (min-width: 381px) and (max-width: 45em) {
    body {
      color: black;
      font-size: 16px; } }

a {
  color: #4779ae;
  text-decoration: none; }
  a:hover {
    color: #7eb5e5;
    text-decoration: underline; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-right: 1.5em;
  border-bottom: solid 1px #DDDDDD;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), color-stop(2.25em, rgba(255, 255, 255, 0.95)), color-stop(35em, rgba(255, 255, 255, 0.95)), color-stop(45em, rgba(255, 255, 255, 0.7)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95) 2.25em, rgba(255, 255, 255, 0.95) 35em, rgba(255, 255, 255, 0.7) 45em); }
  header h1 {
    display: inline-block;
    margin-left: 1.5em;
    font-weight: 300;
    font-size: 1.5em; }
    @media only screen and (max-width: 380px) {
      header h1 {
        margin-left: .75em;
        font-size: 1.25em; } }
    @media only screen and (min-width: 381px) and (max-width: 45em) {
      header h1 {
        margin-left: .75em; } }
    header h1 a {
      margin-left: .25em;
      line-height: 3em; }
  header a.social {
    float: right;
    font-size: 1.5em;
    font-family: "social";
    line-height: 3em; }
    @media only screen and (max-width: 380px) {
      header a.social {
        font-size: 1.25em; } }
    header a.social span {
      display: none; }
    header a.social:hover {
      color: #7eb5e5; }

section {
  margin-top: 6em;
  margin-left: 2.25em;
  margin-right: 2.25em;
  line-height: 1.4em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  @media only screen and (max-width: 380px) {
    section {
      margin-left: 1em; } }
  @media only screen and (min-width: 381px) and (max-width: 45em) {
    section {
      margin-left: 1.25em; } }

#resume {
  padding-bottom: 4em;
  max-width: 100%;
  width: 35em; }
  #resume h2 {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: .25em;
    width: 100%;
    border-bottom: solid 1px #999;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.125em; }
    @media only screen and (max-width: 380px) {
      #resume h2 {
        font-size: 1.125em; } }
    @media only screen and (min-width: 381px) and (max-width: 45em) {
      #resume h2 {
        font-size: 1.25em; } }
  #resume h2 + h3 {
    margin-top: .75em; }
  #resume h3 {
    margin-top: 2em;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: .875em; }
    #resume h3 em {
      white-space: nowrap;
      font-weight: 400;
      font-size: .875em; }
      #resume h3 em:before {
        content: ", ";
        white-space: normal;
        font-weight: 700;
        font-size: 1.125em; }
  #resume h3 + h3 {
    margin-top: -.5em; }
  #resume h3 + p {
    margin-top: 0;
    margin-left: .75em; }
    @media only screen and (max-width: 380px) {
      #resume h3 + p {
        margin-left: 0em; } }
    #resume h3 + p a {
      color: #4b5866; }
      #resume h3 + p a:hover {
        color: #7eb5e5; }
  #resume p {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: .875em; }
  #resume ul {
    margin-top: 1em;
    margin-left: .75em;
    font-size: .75em; }
    @media only screen and (max-width: 380px) {
      #resume ul {
        margin-left: 0em; } }
  #resume li {
    line-height: 1.875em; }
    #resume li:before {
      content: "• "; }
  #resume li > ul,
  #resume li > ul a {
    margin-top: 0em;
    font-size: 1em; }
    #resume li > ul::before,
    #resume li > ul a::before {
      content: none; }
  #resume li > ul a {
    color: #4b5866; }
    #resume li > ul a:hover {
      color: #7eb5e5; }
  #resume li > ul > li {
    padding-left: 1em;
    list-style: none; }
    #resume li > ul > li:before {
      content: none; }
  #resume li > em {
    margin-left: 0;
    margin-left: .25em; }
    #resume li > em:before {
      content: "– "; }

article#portfolio {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: .25em;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100%+.75em);
  max-width: 45em; }
  article#portfolio img {
    max-width: 100%;
    margin-bottom: -.25em; }

body {
  font-size: 14px; }

header {
  border-bottom: none;
  background-color: white;
  position: relative;
  margin-bottom: 0em !important; }
  header h1 {
    margin-bottom: 0em; }

#mainNav {
  margin-bottom: 3em !important;
  border-bottom: none;
  width: 100% !important;
  max-width: 100% !important;
  margin-right: auto;
  margin-left: auto; }
  #mainNav ul {
    display: none !important; }

article,
section {
  margin-top: 0 !important;
  padding-top: 0 !important;
  width: 95% !important;
  max-width: 95% !important;
  margin-right: auto;
  margin-left: auto; }
  article p, article ul, article dl,
  section p,
  section ul,
  section dl {
    width: 80% !important;
    max-width: 100% !important; }

h2 {
  margin-bottom: 0; }

h3 {
  width: 80% !important;
  max-width: 100%; }
