@import 'style.scss';

#portfolio
{
	display: none;
}

body
{
	background: none;
}

header
{
	border: none;

	.social
	{
		display:none;
	}

	margin-bottom: none;
}

h2, h3 {
  page-break-after: avoid;
}

pre, ul, a {
  page-break-inside: avoid;
}
