@import 'style.scss';

a{
	color: rgb(31,81,134) !important;
	}

#portfolio *
{
	display: none;
}

body
{
	background: none;
	font-size: 14px;
}

header
{
	border: none;
	position: relative;
	margin-bottom: 2em;

	.social
	{
		display:none;
	}

	background: none;
}

section
{
	// margin-top: -1em;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

pre, ul, a, p {
  page-break-inside: avoid;
}
