@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'social';
  src: url("fonts/social.eot?84141987");
  src: url("fonts/social.eot?84141987#iefix") format("embedded-opentype"), url("fonts/social.woff?84141987") format("woff"), url("fonts/social.ttf?84141987") format("truetype"), url("fonts/social.svg?84141987#social") format("svg"); }

h1, ol, ul, dd, dt, dl, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.fancybox-slide--iframe .fancybox-content {
  width: 1200px;
  height: 900px;
  max-width: 95%;
  max-height: 80%;
  margin: 0;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

body {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), color-stop(2.25em, rgba(255, 255, 255, 0.9)), color-stop(35em, rgba(255, 255, 255, 0.9)), color-stop(45em, rgba(255, 255, 255, 0.7))), url("images/seamless_paper_texture.png");
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9) 2.25em, rgba(255, 255, 255, 0.9) 35em, rgba(255, 255, 255, 0.7) 45em), url("images/seamless_paper_texture.png");
  color: #4b5866;
  word-wrap: break-word;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  font-family: "Libre Caslon Text", serif;
  -webkit-font-smoothing: antialiased;
  font-display: optional;
  text-rendering: optimizeLegibility;
  font-variant-caps: normal;
  line-break: after-white-space; }
  @media only screen and (max-width: 380px) {
    body {
      color: black;
      font-size: 14px; } }
  @media only screen and (min-width: 381px) and (max-width: 45em) {
    body {
      color: black;
      font-size: 16px; } }

a {
  color: #4779ae;
  text-decoration: none; }
  a:hover {
    color: #7eb5e5; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: solid 1px #DDDDDD;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), color-stop(2.25em, rgba(255, 255, 255, 0.95)), color-stop(35em, rgba(255, 255, 255, 0.95)), color-stop(45em, rgba(255, 255, 255, 0.7)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95) 2.25em, rgba(255, 255, 255, 0.95) 35em, rgba(255, 255, 255, 0.7) 45em); }
  header h1 {
    display: inline-block;
    margin-left: 1.5em;
    font-weight: 300;
    font-size: 1.5em; }
    @media only screen and (max-width: 380px) {
      header h1 {
        margin-left: .75em;
        font-size: 1.25em; } }
    @media only screen and (min-width: 381px) and (max-width: 45em) {
      header h1 {
        margin-left: .75em; } }
    header h1 a {
      margin-left: .25em;
      color: #87709a;
      line-height: 3em; }
      header h1 a:hover {
        color: #7eb5e5; }
  header a.social {
    float: right;
    margin-right: 1.5em;
    color: #87709a;
    font-size: 1.5em;
    font-family: "social";
    line-height: 3em; }
    @media only screen and (max-width: 380px) {
      header a.social {
        margin-right: .75em;
        font-size: 1.25em; } }
    @media only screen and (min-width: 381px) and (max-width: 45em) {
      header a.social {
        margin-right: .75em; } }
    header a.social span {
      display: none; }
    header a.social:hover {
      color: #7eb5e5; }

section {
  margin-top: 6em;
  margin-left: 2.25em;
  width: 90%;
  line-height: 1.4em; }
  @media only screen and (max-width: 380px) {
    section {
      margin-left: 1em; } }
  @media only screen and (min-width: 381px) and (max-width: 45em) {
    section {
      margin-left: 1.25em; } }

#resume {
  padding-bottom: 4em;
  max-width: 100%;
  width: 35em; }
  #resume h2 {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: .25em;
    width: 100%;
    border-bottom: solid 1px #999;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.125em;
    letter-spacing: .5px; }
    @media only screen and (max-width: 380px) {
      #resume h2 {
        font-size: 1.125em; } }
    @media only screen and (min-width: 381px) and (max-width: 45em) {
      #resume h2 {
        font-size: 1.25em; } }
  #resume h2 + h3 {
    margin-top: .75em; }
  #resume h3 {
    margin-top: 2em;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: .875em; }
    #resume h3 em {
      white-space: pre;
      font-weight: 400;
      font-size: .875em; }
      #resume h3 em:before {
        content: ", "; }
        @media only screen and (max-width: 380px) {
          #resume h3 em:before {
            content: "\A"; } }
        @media only screen and (min-width: 381px) and (max-width: 45em) {
          #resume h3 em:before {
            content: "\A"; } }
  #resume h3 + p {
    margin-top: 0;
    margin-left: .75em; }
    #resume h3 + p a {
      color: #4b5866; }
      #resume h3 + p a:hover {
        color: #7eb5e5; }
    @media only screen and (max-width: 380px) {
      #resume h3 + p {
        margin-left: 0em; } }
  #resume h3 + h3 {
    margin-top: -.5em; }
  #resume p {
    margin-top: 1em;
    font-size: .875em;
    margin-bottom: 0; }
  #resume ul {
    margin-top: 1em;
    margin-left: .75em;
    font-size: .75em; }
    @media only screen and (max-width: 380px) {
      #resume ul {
        margin-left: 0em; } }
  #resume li {
    line-height: 1.875em; }
    #resume li:before {
      content: "• "; }
  #resume li > ul,
  #resume li > ul a {
    font-size: 1em;
    margin-top: 0em; }
    #resume li > ul::before,
    #resume li > ul a::before {
      content: none; }
  #resume li > ul a {
    color: #4b5866; }
    #resume li > ul a:hover {
      color: #7eb5e5; }
  #resume li > ul > li {
    padding-left: 1em;
    list-style: none; }
    #resume li > ul > li:before {
      content: none; }
  #resume li > em {
    margin-left: 0;
    margin-left: .25em;
    white-space: pre; }
    #resume li > em:before {
      content: "– "; }
