@font-face
{
	font-family: 'social';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/social.eot?84141987');
	src: url('fonts/social.eot?84141987#iefix') format('embedded-opentype'),
	url('fonts/social.woff?84141987') format('woff'),
	url('fonts/social.ttf?84141987') format('truetype'),
	url('fonts/social.svg?84141987#social') format('svg');
}

$fadedLink: rgb(135,112,154);
$link: rgb(71,121,174);
$linkHover: rgb(126,181,229);
$black: rgb(75,88,102);
$header: rgb(85,98,112);
$backgroundURL: url('images/seamless_paper_texture.png');
$break-hand: 380px;
$break-small: 45em;

@mixin respond-to ( $media )
{
	@if $media == small-handhelds { @media only screen and (max-width: $break-hand) { @content; }}
	@else if $media == handhelds { @media only screen and (min-width: $break-hand+1) and (max-width: $break-small) { @content; }}
	@else if $media == screens { @media only screen and (min-width: $break-small + 1) { @content; }}
}

@mixin keyframes($animation-name)
{
	@-webkit-keyframes #{$animation-name}
	{
		@content;
	}
	@-moz-keyframes #{$animation-name}
	{
		@content;
	}
	@-ms-keyframes #{$animation-name}
	{
		@content;
	}
	@-o-keyframes #{$animation-name}
	{
		@content;
	}
	@keyframes #{$animation-name}
	{
		@content;
	}
}


@mixin animation($str)
{
	-webkit-animation: #{$str};
	   -moz-animation: #{$str};
	    -ms-animation: #{$str};
	     -o-animation: #{$str};
	        animation: #{$str};
}


@include keyframes(wave) {
  0%
  {
  	filter: brightness(100%) hue-rotate(0deg);
  }
  90%
  {
  	filter: brightness(100%) hue-rotate(0deg);
  	animation-timing-function: ease-in-out;
  }
  100%
  {
  	filter: brightness(150%) hue-rotate(180deg);
  }
}

h1, h2, h3, h4, h5, ol, ul, dd, dt, dl, li, blockquote
{
	margin: 0;
	padding: 0;

	list-style: none;
}

.hidden
{
	display: none;
}

body
{
	font-family: 'Libre Caslon Text', serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;

	margin: 0;

	word-wrap: break-word;

	color: $black;
	background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.9) 2em,rgba(255,255,255,.9) 37.5em,rgba(255,255,255,.8) 45em), $backgroundURL;

	-webkit-font-smoothing: antialiased;
	font-display: optional;
	text-rendering: optimizeLegibility;
	font-variant-caps: normal;

	@include respond-to(small-handhelds)
	{
		font-size: 14px;

		color: black;
	}
	@include respond-to(handhelds)
	{
		font-size: 16px;

		color: black;
	}
}

a
{
	text-decoration: none;

	color: $link;

	&:hover
	{
		text-decoration: underline;

		color: $linkHover;
	}
}

header
{
	position: sticky;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;

	padding-right: 1.5em;

	border-bottom: solid 1px #dddddd;
	background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.95) 2.25em,rgba(255,255,255,.95) 37.5em,rgba(255,255,255,.7) 45em);

	@include respond-to(small-handhelds)
	{
		padding-right: 1em;
	}
	@include respond-to(handhelds)
	{
		padding-right: 1.25em;
	}

	h1
	{
		font-size: 1.33em;
		font-weight: 400;

		display: inline-block;

		margin-left: 1.5em;

		@include respond-to(small-handhelds)
		{
			font-size: 1.25em;

			margin-left: .75em;
		}
		@include respond-to(handhelds)
		{
			font-size: 1.25em;

			margin-left: 1em;
		}

		a
		{
			line-height: 2.5em;

			margin-left: .25em;
		}
	}

	a.social
	{
		font-family: 'social';
		font-size: 1.33em;
		line-height: 2.33em;

		float: right;

		user-select: none;

		@include respond-to(small-handhelds)
		{
			font-size: 1.25em;
			line-height: 2.46em;
		}
		@include respond-to(handhelds)
		{
			font-size: 1.25em;
			line-height: 2.46em;
		}

		span
		{
			display: none;
		}

		&:hover
		{
			color: $linkHover;
		}
	}
}


section
{
	line-height: 1.4em;

	display: flex;
	flex-direction: column-reverse;

	margin-top: 1em;
	margin-right: 2em;
	margin-left: 2em;

	@include respond-to(small-handhelds)
	{
		margin-top: 1em;
		margin-right: .75em;
		margin-left: 1em;
		padding-right: 0;
	}
	@include respond-to(handhelds)
	{
		margin-top: 1.5em;
		margin-right: .75em;
		margin-left: 1.25em;
		padding-right: 0;
	}
}

#resume
{
	width: 37.5em;
	max-width: 100%;
	padding-bottom: 4em;

	ul a,
	p a
	{
		@include animation('wave 10s alternate infinite');
	}

	ul li:nth-of-type(6n + 0) { a {animation-delay: 0s}}
	ul li:nth-of-type(6n + 1) { a {animation-delay: .2s}}
	ul li:nth-of-type(6n + 2) { a {animation-delay: .4s}}
	ul li:nth-of-type(6n + 3) { a {animation-delay: .6s}}
	ul li:nth-of-type(6n + 4) { a {animation-delay: .8s}}
	ul li:nth-of-type(6n + 5) { a {animation-delay: 1s}}
	ul li:nth-of-type(6n + 6) { a {animation-delay: 1.2s}}

	a
	{
		&:hover
		{
			animation: none;
		}
	}

	h2
	{
		font-size: 1.125em;
		font-weight: 700;
		line-height: 1.125em;

		display: inline-block;

		width: 100%;
		margin-top: 2em;
		margin-bottom: 0;
		padding-bottom: .25em;

		letter-spacing: .5px;

		border-bottom: solid 1px #999999;

		@include respond-to(small-handhelds)
		{
			font-size: 1.125em;
		}
		@include respond-to(handhelds)
		{
			font-size: 1.125em;
		}
	}

	h2 + h3
	{
		margin-top: .75em;
	}

	h3
	{
		font-size: .875em;
		font-weight: 700;

		margin-top: 2em;
		margin-bottom: .5em;

		em
		{
			font-size: .875em;
			font-weight: 400;

			white-space: nowrap;

			&:before
			{
				font-size: 1.125em;
				font-weight: 700;

				content: ', ';
				white-space: normal;
			}
		}
	}

	h3 + h3
	{
		margin-top: -.5em;
	}

	h3 + p
	{
		margin-top: 0;
		margin-left: .75em;

		@include respond-to(small-handhelds)
		{
			margin-left: 0;
		}

		a
		{
			color: $black;

			&:hover
			{
				color: $linkHover;
			}
		}
	}

	p
	{
		font-size: .875em;

		margin-top: 1em;
		margin-bottom: 0;
	}

	ul
	{
		font-size: .75em;

		margin-top: 1em;
		margin-left: .75em;

		@include respond-to(small-handhelds)
		{
			margin-left: 0;
		}
	}

	li
	{
		line-height: 1.875em;

		padding-left: .75em;

		text-indent: -.75em;

		&:before
		{
			content: '• ';
		}
	}

	li > ul, li > ul a
	{
		font-size: 1em;

		margin-top: 0;

		&::before
		{
			content: none;
		}
	}

	li > ul > li
	{
		padding-left: 1.125em;

		list-style: none;


		&:before
		{
			content: none;
		}
	}

	li > em
	{
		margin-left: 0;
		margin-left: .25em;

		&:before
		{
			content: ' – ';
			text-decoration: none;
		}
	}


	blockquote
	{
		font-size: .875em;
		line-height: 1.5em;

		margin-top: 1.5em;
		margin-left: .75em;
		padding-left: .45em;

		border-left: 2px solid lighten($black, 55%);

		@include respond-to(small-handhelds)
		{
			margin-left: 0;
		}

		&:before
		{
			font-size: 3em;

			float: left;

			margin-left: -.66em;
			padding-top: .3em;

			content: '\201C';

			color: lighten($black, 50%);
		}

		a
		{
			font-style: normal;

			animation: none;

			&:before
			{
				content: '\A – ';
				white-space: pre;
			}
		}
	}

}

article#portfolio
{
	display: grid;

	width: calc(100% - .5em);
	margin-bottom: .5em;

	cursor: pointer;
	user-select: none;

	grid-template-columns: repeat(5, 20%);
	grid-gap: .25em;
	justify-content: space-between;

	@include respond-to(small-handhelds)
	{
		width: calc(100% - 1.25em);
	}
	@include respond-to(handhelds)
	{
		width: calc(100% - 1.5em);
	}


		a:after
		{
			opacity: 0;
			transition: all 1s ease-in-out;
		}

		a:hover:after
		{
			font-size: .66em;

			position: relative;

			float: left;

			margin-top: calc(-50% - 2em);
			// margin-right: auto;
			margin-left: calc(50% - 1.5em);

			content: '';
			cursor: pointer;
			pointer-events: none;

			opacity: 1;

			border-width: 2em 0 2em 3.5em;
			border-style: solid;
			border-color: transparent transparent transparent rgb(255,255,255);
		}


	img
	{
		cursor: pointer;
		width: 100%;
		margin-bottom: -.33em;
		border-radius: 4%;

		transition: border-radius 2s, filter 2s;
		// transition-delay: .25s;

		filter: saturate(90%) brightness(90%) grayscale(10%);

		&:hover
		{
			transition: border-radius .5s;
			// transition-delay: .25s;

			border-radius: 50%;

			filter: saturate(110%) brightness(110%) grayscale(0%);
		}
	}
}

