@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'social';
  src: url('fonts/social.eot?84141987');
  src: url('fonts/social.eot?84141987#iefix') format('embedded-opentype'),
       url('fonts/social.woff?84141987') format('woff'),
       url('fonts/social.ttf?84141987') format('truetype'),
       url('fonts/social.svg?84141987#social') format('svg');
}

$fadedLink: rgb(135,112,154);
$link: rgb(71,121,174);
$linkHover: rgb(126,181,229);
$black: rgb(75,88,102);
$header: rgb(85,98,112);
$backgroundURL: url("images/seamless_paper_texture.png");

$break-hand: 380px;
$break-small: 45em;

@mixin respond-to ( $media )
{
	@if $media == small-handhelds {
		@media only screen and (max-width: $break-hand) { @content; }
	}
	@else if $media == handhelds {
		@media only screen and (min-width: $break-hand+1) and (max-width: $break-small)  { @content; }
	}
	@else if $media == screens {
		@media only screen and (min-width: $break-small + 1) { @content; }
	}
}

h1, ol, ul, dd, dt, dl, li
{
	margin: 0;
	padding: 0;
  list-style: none;
}

.fancybox-slide--iframe .fancybox-content {
	width  : 1200px;
	height : 900px;
	max-width  : 95%;
	max-height : 80%;
	margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.hidden
{
  display: none;
}

body
{
	margin: 0;
	background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.9) 2.25em,rgba(255,255,255,.9) 35em,rgba(255,255,255,.7) 45em), $backgroundURL;
	color: $black;
  word-wrap: break-word;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
	font-size: 18px;
  font-family: "Libre Caslon Text", serif;
  -webkit-font-smoothing: antialiased;

  font-display: optional;

  text-rendering: optimizeLegibility;
  font-variant-caps: normal;
  line-break: after-white-space;

  @include respond-to(small-handhelds)
	{
		color: black;
    font-size: 14px;
	}
  @include respond-to(handhelds)
	{
		color: black;
    font-size: 16px;
	}
}

a
{
	color: $link;
	text-decoration: none;

	&:hover
	{
		color: $linkHover;
	}
}

header
{
	position:fixed;
	top:0;
	right: 0;
	left: 0;
	border-bottom: solid 1px #DDDDDD;
	background: linear-gradient(to right, rgba(255,255,255,.7), rgba(255,255,255,.95) 2.25em,rgba(255,255,255,.95) 35em,rgba(255,255,255,.7) 45em);

	h1
	{
		display: inline-block;
		margin-left: 1.5em;
		font-weight: 300;
		font-size: 1.5em;

    @include respond-to(small-handhelds)
		{
			margin-left: .75em;
      font-size: 1.25em;
		}
		@include respond-to(handhelds)
		{
			margin-left: .75em;
		}

		a
		{
			margin-left: .25em;
			color: $fadedLink;
			line-height: 3em;

			&:hover
			{
				color: $linkHover;
			}
		}
	}

	a.social
	{
		float: right;
		margin-right: 1.5em;
		color: $fadedLink;
		font-size: 1.5em;
		font-family: "social";
		line-height: 3em;

    @include respond-to(small-handhelds)
    {
      margin-right: .75em;
      font-size: 1.25em;
    }
		@include respond-to(handhelds)
		{
			margin-right: .75em;
		}

    span
    {
      display: none;
    }

		&:hover
		{
			color: $linkHover;
		}
	}
}

section
{
	margin-top: 6em;
	margin-left: 2.25em;
	width: 90%;
	line-height: 1.4em;

  @include respond-to(small-handhelds)
	{
		margin-left: 1em;
	}
	@include respond-to(handhelds)
	{
		margin-left: 1.25em;
	}
}

#resume
{
	padding-bottom: 4em;
  max-width: 100%;
  width: 35em;

	h2
	{
		display: inline-block;
		margin-top: 2em;
		margin-bottom: 0;
		padding-bottom: .25em;
		width: 100%;
		border-bottom: solid 1px #999;
	  font-weight: 700;
		font-size: 1.125em;
		line-height: 1.125em;
    letter-spacing: .5px;

    @include respond-to(small-handhelds)
  	{
  		font-size: 1.125em;
  	}
  	@include respond-to(handhelds)
  	{
  		font-size: 1.25em;
  	}
	}

  h2 + h3
  {
    margin-top: .75em;
  }

  h3
  {
    margin-top: 2em;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: .875em;
    // color: darken($black,15%);

    em
    {
      white-space: pre;
      font-weight: 400;
      font-size: .875em;

      &:before
      {
        content:", ";

        @include respond-to(small-handhelds)
        {
          content: "\A";
        }
        @include respond-to(handhelds)
        {
          content: "\A";
        }
      }
    }
  }

  h3 + p
  {
    margin-top: 0;
    margin-left: .75em;

    a
    {
      color: $black;

      &:hover
      {
        color: $linkHover;
      }
    }

    @include respond-to(small-handhelds)
    {
        margin-left: 0em;
    }
  }

  h3 + h3
  {
    margin-top: -.5em;
  }

  p
  {
    margin-top: 1em;
    font-size: .875em;
    margin-bottom: 0;
  }

  ul
  {
    margin-top: 1em;
    margin-left: .75em;
    font-size: .75em;

    @include respond-to(small-handhelds)
    {
        margin-left: 0em;
    }
  }

  li
  {
    line-height: 1.875em;

    &:before
    {
      content: "• ";
    }
  }

  li > ul,
  li > ul a
  {
    font-size: 1em;
    margin-top: 0em;

    &::before
    {
      content: none;
    }
  }

  li > ul a
  {
    color: $black;

    &:hover
    {
      color: $linkHover;
    }
  }

	li > ul > li
	{
		padding-left: 1em;
    list-style: none;


    &:before
    {
      content: none;
    }
	}

	li > em
	{
		margin-left: 0;
    margin-left: .25em;
    white-space: pre;

		&:before
		{
        content: "– ";
		}
	}
}
